---
import Container from "../Container.astro";
import DolarComponent from "../DolarComponent/DolarComponent.jsx";
import Fader from "../Fader.astro";
import wise from "../../icons/banks/wise.webp";
import uala from "../../icons/banks/uala.webp";
import skrill from "../../icons/banks/skrill.webp";
import perfect from "../../icons/banks/perfect.webp";
import paypal from "../../icons/banks/paypal.webp";
import payoneer from "../../icons/banks/payoneer.webp";
import mercadopago from "../../icons/banks/mercadopago.webp";
---

<Container>
	<article
		class="min-h-screen flex flex-col justify-center text-white mb-20 relative"
		id="price">
		<div class="flex flex-col justify-center items-center">
			<h1 class="text-3xl md:text-5xl py-5 font-black">
				Cotizaciones de hoy
			</h1>
			<p class="text-center text-lg px-5 max-w-[75ch] text-balance">
				Actualización en tiempo real.
			</p>
		</div>
		<DolarComponent client:load />
	</article>
	<Fader
		img1={wise.src}
		img2={uala.src}
		img3={skrill.src}
		img4={perfect.src}
		img5={paypal.src}
		img6={payoneer.src}
		img7={mercadopago.src}
		img8={wise.src}
		img9={uala.src}
		img10={skrill.src}
		img11={perfect.src}
		img12={paypal.src}
	/>
</Container>
