---
import Container from "../Container.astro";
import Fader from "../Fader.astro";
import wise from "../../icons/banks/wise.webp";
import uala from "../../icons/banks/uala.webp";
import skrill from "../../icons/banks/skrill.webp";
import paypal from "../../icons/banks/paypal.webp";
import payoneer from "../../icons/banks/payoneer.webp";
import mercadopago from "../../icons/banks/mercadopago.webp";
import CardSpotlight from "../CardSpotlight.jsx";
import img1 from "../../icons/calculator.svg";
import img2 from "../../icons/whatsapp.svg";
import img3 from "../../icons/wallet.svg";
import video from "../../video/bussines.mp4";
---

<Container>
	<article
		class="min-h-screen flex flex-col justify-center text-white mb-20 relative"
		id="price">
		<div class="flex flex-col justify-center items-center">
			<h1 class="text-3xl md:text-5xl py-5 font-black text-center">
				Cambia tu dinero digital en 3 simples pasos
			</h1>
			<p class="text-center text-lg px-5 max-w-[75ch] text-balance">
				Seguridad, rapidez y confianza.
			</p>
		</div>
		<div class="grid grid-col-1 md:grid-cols-3 my-20 gap-5">
			<CardSpotlight
				header="Cotizá tu pedido"
				main="Realiza tu pedido de compra o venta y monto a liquidar."
				footer="1"
				img={img1.src}
				client:visible
			/>
			<CardSpotlight
				header="Obtené las instrucciones"
				main="Te vamos a brindar instrucciones paso a paso para realizar la operación."
				footer="2"
				img={img2.src}
				client:visible
			/>
			<CardSpotlight
				header="Enviamos el dinero a tu cuenta"
				main="Una vez que verificamos la transacción, te enviamos el dinero a tu cuenta."
				footer="3"
				img={img3.src}
				client:visible
			/>
		</div>
		<div>
			<video
				src={video}
				autoplay
				loop
				muted
				class="absolute mx-auto right-0 left-0 bottom-0 w-full h-auto opacity-10 rounded-[3rem] top-0 -z-10"
			></video>
		</div>
	</article>
	<Fader
		img1={wise.src}
		img2={uala.src}
		img3={skrill.src}
		img4={paypal.src}
		img5={payoneer.src}
		img6={mercadopago.src}
		img7={wise.src}
		img8={uala.src}
		img9={skrill.src}
		img10={paypal.src}
	/>
</Container>

<style>
	article {
		/* background: black; */
		padding: 0 3rem;
		border-radius: 3rem;

		animation: fade linear both;
		animation-timeline: scroll(root);
		animation-range: 0 500px;
	}
	@media (width > 800px) {
		@keyframes fade {
			from {
				scale: 0.8;
				transform: translateY(300px);
				opacity: 0.75;
			}
			to {
				scale: 1;
				transform: translateY(0);
				opacity: 1;
			}
		}
	}
</style>
