---
import Layout from "../../layouts/Layout.astro";
import CardSpotlight from "../CardSpotlight.jsx";
import Container from "../Container.astro";
import Fader from "../Fader.astro";
import img1 from "../../icons/calculator.svg";
import img2 from "../../icons/wallet.svg";
import img3 from "../../icons/dollar.svg";
import img4 from "../../icons/whatsapp.svg";
import nexo from "../../icons/crypto/nexo.svg";
import metamask from "../../icons/crypto/metamask.svg";
import ethereum from "../../icons/crypto/ethereum.svg";
import coinbase from "../../icons/crypto/coinbase.svg";
import bitcoin from "../../icons/crypto/bitcoin.svg";
import binance from "../../icons/crypto/binance.svg";
---

<Layout title="Stepts to follow">
	<Container>
		<article class="min-h-screen text-white mb-20 relative" id="steps">
			<div class="flex flex-col justify-center items-center">
				<h1 class="text-3xl md:text-5xl py-5 font-black">
					Sigue los siguiente pasos
				</h1>
				<p class="text-center text-lg px-5 max-w-[75ch] text-balance">
					Para realizar tu transacción en 4 pasos.
				</p>
			</div>

			<div class="grid grid-col-1 md:grid-cols-2 my-20 gap-10">
				<CardSpotlight
					header="Paso 1 - Cotizas y haces tu pedido."
					main="Te mostraremos la oferta que tenemos para vos. Elegí el monto y las cuotas antes de continuar. Cuando estés listo, hacé click en el botón 'Continuar'."
					footer="Completá tu información y validá tu celular."
					img={img1.src}
					client:visible
				/>
				<CardSpotlight
					header="Paso 2 - Recibes las instrucciones para hacer tu envío."
					main="Te mostraremos la oferta que tenemos para vos. Elegí el monto y las cuotas antes de continuar. Cuando estés listo, hacé click en el botón 'Continuar'."
					footer="Completá tu información y validá tu celular. "
					img={img2.src}
					client:visible
				/>
				<CardSpotlight
					header="Paso 3 -Te enviamos el saldo cotizado."
					main="Te mostraremos la oferta que tenemos para vos. Elegí el monto y las cuotas antes de continuar. Cuando estés listo, hacé click en el botón 'Continuar'."
					footer="Completá tu información y validá tu celular. "
					img={img3.src}
					client:visible
				/>
				<CardSpotlight
					header="Paso 4 - Recibes tu saldo en tu cuenta."
					main="Te mostraremos la oferta que tenemos para vos. Elegí el monto y las cuotas antes de continuar. Cuando estés listo, hacé click en el botón 'Continuar'."
					footer="Completá tu información y validá tu celular. "
					img={img4.src}
					client:visible
				/>
			</div>

			<Fader
				img1={nexo.src}
				img2={metamask.src}
				img3={ethereum.src}
				img4={coinbase.src}
				img5={bitcoin.src}
				img6={binance.src}
				img7={nexo.src}
				img8={metamask.src}
				img9={ethereum.src}
				img10={coinbase.src}
				img11={bitcoin.src}
				img12={binance.src}
			/>
		</article>

		<style></style>
	</Container>
</Layout>
